<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/employeeevaluator?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    
    <!-- druhy connection string -->
    <!--<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/employeeevaluator?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>-->
    <!-- Vypisovani do konzole -->
    <!-- 
    <property name="show_sql">true</property> 
    <property name="format_sql">true</property>
    <property name="use_sql_comments">true</property> 
    -->
    <mapping resource="models/Evaluationitem.hbm.xml"/>
    <mapping resource="models/Evaluation.hbm.xml"/>
    <mapping resource="models/Category.hbm.xml"/>
    <mapping resource="models/Employee.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
